/* 0. Universal Styles and resets */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


/* 1. Header and Nav */


header {
    background-color: #A7BFB0;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

header img {
    width: 65px;
    height: 65px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    font-weight: 300;
    margin-left: 7.5%;
    width: 450px;
}

/* 1.A navigation*/

nav {
    margin-right: 7.5%;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    margin: auto 10px;
    padding: 10px;
}

nav a {
    font-size: 30px;
    color: black;
}


.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    width: 85%;
    margin: 100px auto 30px;
}

.splash h1{
    font-size: 60px;
    font-weight: 300;
    margin: 40px auto 20px;
}

.splash p {
    font-size: 30px;
    margin-top: 2%;
    margin-bottom: 1%;
}

.splash .mission {
    font-size: 24px;
    width: 55%;
}

.splash .btn {
    margin-top: 10px;
}


.long-line {
    content: '';
    width: 888px;
    height: 3px;
    background-color: #5D4744;
    margin: 20px auto 20px;
}

.splash-imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 1.5%;
}

.splash-imgs .img1 {
    background-color: gray;
    width: 800px;
    height: 600px;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 5%;
}

.splash-imgs .img2 {
    background-color: gray;
    width: 800px;
    height: 600px;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 5%;
}




#about {
    width: 85%;
    margin: 0 auto;
}

.section-heading{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.columns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 10%;
}

.col2 {
    width: 50%;
    margin-left: 10%;
}

.col2 img {
    background-color: grey;
    width: 600px;
    height: 750px;
}





.section-title {
    margin-left: 30px;
    font-size: 30px;
    font-weight: 300;
}


.line {
    content: '';
    width: 600px;
    height: 3px;
    background-color: #5D4744;
}

.btn {
    font-size: 24px;
    color: white;
    background-color: #9F5A3E;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 5px 3px 5px grey;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}